<form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
  <ion-item lines="full">
    <ion-label position="stacked">Email </ion-label>
    <ion-input formControlName="mail" ngDefaultControl type="email"></ion-input>
  </ion-item>
  <span
    class="error ion-padding"
    *ngIf="isSubmitted && emailField.errors?.required"
  >
    Email es requerido
  </span>
  <span class="error ion-padding" *ngIf="emailField.errors?.pattern">
    No es un Email valido
  </span>
  <ion-item lines="full">
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      formControlName="pass"
      ngDefaultControl
      type="password"
    ></ion-input>
  </ion-item>
  <span
    class="error ion-padding"
    *ngIf="isSubmitted && passField.errors?.required"
  >
    Password es requerido
  </span>
  <ion-row>
    <ion-col>
      <ion-button
        type="submit"
        [disabled]="loginForm.invalid"
        color="success"
        expand="block"
        >Login</ion-button
      >
    </ion-col>
  </ion-row>
</form>
